.wrapper {
     /* position: relative; */
     width: 100%;
     height: 100vh;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     perspective: 1000px;
}

.heart {
     height: 220px;
     width: 335px;
     display: grid;
     grid-auto-flow: column;
     align-items: center;
     justify-content: center;
     gap: 10px;
     background-color: rgb(160, 160, 160);
     box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
     border-radius: 5px;

     transform: rotate3d(20, 30, 0, 30deg);
     border: 10px solid rgb(213, 213, 213);
     box-shadow: inset 3px 3px 5px rgb(0, 0, 0, 0.5), 5px 5px 10px rgb(0, 0, 0, 0.5);
     transition: all 1s ease-in-out;

}

.heart:hover {
     transform: rotate3d(20, 30, 0, -15deg);
}

.heart__section {
     width: 24px;
     height: 25px;
     background-color: rgb(213, 213, 213);
     box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.1);
     border: 1 solid rgb(0, 0, 0, 0.1);

     border-radius: 25px;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     position: relative;
     top: 0;
     left: 0;
     opacity: 1;
     transform: rotate(0deg);
     transition: all 3s linear;
     transform-origin: 0 0;
}

.heart-section-1 {
     background-color: #ac62a5;
     animation-name: section-1;
     animation-delay: .0s;
}

.heart-section-2 {
     animation-name: section-2;
     background-color: #A62D43;
     animation-delay: .15s;

}

.heart-section-3 {
     animation-name: section-3;
     background-color: #378C64;
     animation-delay: .30s;

}

.heart-section-4 {
     animation-name: section-4;
     background-color: #F29F05;
     animation-delay: .45s;
}

.heart-section-5 {
     animation-name: section-5;
     background-color: #A65233;
     animation-delay: .6s;

}

.heart-section-6 {
     animation-name: section-6;
     background-color: #c56f6f;
     animation-delay: .75s;

}

.heart-section-7 {
     animation-name: section-7;
     background-color: #bcd069;
     animation-delay: .9s;

}

.heart-section-8 {
     animation-name: section-8;
     background-color: #6ac979;
     animation-delay: 1.05s;

}

.heart-section-9 {
     animation-name: section-9;
     background-color: #7bbcd5;
     animation-delay: 1.2s;

}




@keyframes section-1 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #7bbcd5;

     }
}

@keyframes section-2 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #ac62a5;

     }
}

@keyframes section-3 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #A62D43;

     }
}

@keyframes section-4 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #378C64;

     }
}

@keyframes section-5 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #F29F05;

     }
}

@keyframes section-6 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #A65233;

     }
}

@keyframes section-7 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #c56f6f;

     }
}

@keyframes section-8 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #bcd069;

     }
}

@keyframes section-9 {

     50% {
          height: 180px;
          box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
          opacity: 1;
          background-color: #6ac979;

     }
}